API_Practice/XML/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="videoGames">
      <xs:complexType>
         <xs:sequence maxOccurs="unbounded" minOccurs="0">
            <xs:element name="videoGame">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="xs:integer" />
                     <xs:element name="name" type="xs:string"/>
                     <xs:element name="releaseDate" type="xs:dateTime" />
                     <xs:element name="reviewScore" type="xs:integer" />
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="category"/>
                  <xs:attribute type="xs:string" name="rating"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>